* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* =============================== banner part css start ======================================== */
#banner-part {
    height: 1008px;
    background-image: url('../images/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-part .banner-details {
    max-width: 1400px;
    height: 300px;
    margin: 0 auto;
    padding-top: 289px;
}

#banner-part .banner-details h1 {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700px;
    color: #fff;
    font-size: 65px;
    margin-bottom: 24px;
}

#banner-part .banner-details p {
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffff;
}

#banner-part .banner-details .btn {
    width: 200px;
    margin-left: 1200px;
    margin-top: 32px;

}

#banner-part .banner-details .btn a {
    display: inline-block;
    padding: 20px 45px;
    background: #ffff;
    text-align: center;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;

}

/* =============================== banner part css end   ======================================== */

/* =============================== failure part start  ========================================= */
#failure-part .failure-details {
    max-width: 1400px;
    margin: 0 auto;
}

#failure-part .failure-details .photo {
    width: 50%;
}

#failure-part .failure-details {
    display: flex;
    justify-content: space-between;
}


#failure-part .failure-details .img-background {
    width: 523px;
    height: 530px;
    background: #005FAC;
    border-radius: 50%;
    margin-top: 194px;
    position: absolute;
    z-index: -1;
    margin-left: 26px;
}

#failure-part .failure-details .person-img {
    height: 800px;
    background-image: url(../images/person.png);
    background-repeat: no-repeat;


}

#failure-part .failure-details .text {
    margin-top: 200px;
}

#failure-part .failure-details .text h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

#failure-part .failure-details .text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

#failure-part .failure-details .failure-check h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin: 6px 0;
}

#failure-part .failure-details .failure-check i {
    color: #16D887;
}

/* =============================== failure part end    ========================================= */


/* ============================== plan part start ================================================ */
#plan-part {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}

#plan-part h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}

#plan-part .plan-details {
    display: flex;
    gap: 2%;
    margin-bottom: 130px;
}

#plan-part .plan-details .plan-item {
    width: 25%;
    text-align: center;
}

#plan-part .plan-details .plan-item h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 16px;
}

#plan-part .plan-details .plan-item p {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* ============================== plan part end   ================================================ */

/* ============================== team part start ================================================ */
#team-work{
    max-width: 1400px;
    margin: 50px auto;
    padding: 50px 0;
    background-color: #005facc2;
    border-radius: 5px;
    
}

#team-work .team-title h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

#team-work .team-work-details{
    display: flex;
    justify-content: space-around;
}


#team-work .team-work-details .team-item{
    width: 23%;
    height: 500px;
    background: #ffff;
    

}

#team-work .team-work-details .team-item .img {
    width: 100%;
    height: 219px;
    background-image: url(../images/team01.jpg) ;
    background-repeat: no-repeat;
    background-color: #0988f09b;
    background-blend-mode: color;
    background-size: 102%;
}

#team-work .team-work-details .team-item  .bg1 {
    width: 100%;
    height: 221px;
    background-image: url(../images/team02.jpeg);
    background-repeat: no-repeat;
    background-color: #0988f09b;
    background-blend-mode: color;
    background-size: 105%;
}

#team-work .team-work-details .team-item  .bg2 {
    width: 100%;
    height: 219px;
    background-image: url(../images/team03.png);
    background-repeat: no-repeat;
    background-color: #0988f09b;
    background-blend-mode: color;
    background-size: 129%;
}


#team-work .team-work-details .team-item  .bg3 {
    width: 100%;
    height: 219px;
    background-image: url(../images/team04.jpg) ;
    background-repeat: no-repeat;
    background-color: #0988f09b;
    background-blend-mode: color;
    background-size: 102%;
}


#team-work .team-work-details .team-item h3 {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #151414;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

#team-work .team-work-details .team-item p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #968f8f;
    line-height: 24px;
    text-align: center;

}

/* ============================== team part end   ================================================ */


/* ============================== positive part start =========================================== */
#positive-part {
    max-width: 1400px;
    height: 300px;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding-bottom: 130px;

}

#positive-part .linear-img {
    max-width: 1400px;
    height: 370px;
    background-image: url(../images/gradient1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

#positive-part .text h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-left: 117px;
    padding-top: 94px;
    position: absolute;
}

#positive-part .text .btn {
    position: absolute;
    margin-left: 117px;
    margin-top: 215px;
}

#positive-part .text .btn a {
    display: inline-block;
    padding: 20px 40px;
    background: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    border-radius: 5px;
    ;
}

/* ============================== positive part end   =========================================== */

/* =============================== footer part start ============================================ */
#footer-part{
    width: 100%;
    padding: 130px 0;
    background: #151414;
}

#footer-part .footer-details{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

#footer-part .footer-details .footer-left{
    width: 60%;

}

#footer-part .footer-details .footer-left h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #f8f8f8;
    margin-bottom: 16px;
}

#footer-part .footer-details .footer-left p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

#footer-part .footer-details .footer-left h6{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffff;
    margin-bottom: 16px;
}

#footer-part .footer-details .footer-left img{
    margin-right: 15px;
}

#footer-part .footer-details .footer-right{
    width: 40%;
    

}

#footer-part .footer-details .footer-right h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

#footer-part .footer-details .footer-right input{
    width: 250px;
    height: 50px;
    background:#151414;
    border-radius: 5px;
    border: 1px solid #e0d4d4;
    margin: 20px 0;
}

#footer-part .footer-details .footer-right input::placeholder{
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F3F3F3;
}

#footer-part .footer-details .footer-right .btn a{
    display: inline-block;
    padding: 20px 40px;
    background: #005FAC;
    border-radius: 5px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
/* =============================== footer part end   ============================================ */